#ifndef SECRETS_H_TEMPLATE
#define SECRETS_H_TEMPLATE

#include "types.h"

// ===============================
// WiFi network list
// ===============================

// You can add as many as you want here
WiFiNetwork networks[] = {
  { "WiFiHome", "HomePassword" },
  { "WiFiOffice", "OfficePassword" },
  { "WiFiHotspot", "HotspotPassword" }
};

#endif // SECRETS_H_TEMPLATE
