// ===============================
// WiFi network list
// ===============================
// You can add as many as you want here
struct WiFiNetwork {
  const char* ssid;
  const char* password;
};

WiFiNetwork networks[] = {
  { "WiFiHome", "HomePassword" },
  { "WiFiOffice", "OfficePassword" },
  { "WiFiHotspot", "HotspotPassword" }
};

